<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!-- todo: make this shown add or edit as appropriate -->
    <title>Add/Edit Person</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>

    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css" />
</head>
<body>

<nav>
    <ul>
        <li><a th:href="@{/}" href="index.html">Home</a></li>
        <li><a th:href="@{/personForm}" href="personForm.html">Add Person</a></li>
    </ul>
</nav>

<!-- todo: make this shown add or edit as appropriate -->
<h1>Add/Edit Person</h1>

<p>Use the form below to <span>add/edit</span> a person.</p>

<form action="index.html" th:action="@{/save}" method="post" th:object="${person}">
    <!--<div th:text="*{id}"></div>-->
    <input type="hidden" name="id" value="" th:value="*{id}" />

    <label>
        <span>Title:</span>
        <input type="text" name="title" value="" th:value="*{title}"/>
    </label>

    <label>
        <span>First Name:</span>
        <input type="text" name="firstName" value="" th:value="*{firstName}" required="required"/>
    </label>

    <label>
        <span>Middle Name:</span>
        <input type="text" name="middleName" th:value="*{middleName}" value=""/>
    </label>

    <label>
        <span>Last Name:</span>
        <input type="text" name="lastName" value="" th:value="*{lastName}" required="required"/>
    </label>

    <label>
        <span>Suffix:</span>
        <input type="text" name="suffix" value="" th:value="*{suffix}"/>
    </label>



    <button>Save Person</button>
</form>

</body>
</html>